#nav-bar {
	height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DADADA;
}

#title {
	font-weight: lighter;
    font-size: 30px;
    padding: 10px;
}

#palette {
	height: 90vh;
	display: flex;
    flex-direction: row;
    justify-content: center;
}

#splash {
	font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

@media all and (max-width: 750px) {
	#palette {
		flex-direction: column;
	}
}